.venv/
**/__pycache__/
*.zip
BOSSbase_1.01/
sp4g8h7v8k-1/
Combine_grayscale_images/
train/
test/
train_tiles/
test_tiles/
*.bmp
*.pgm
*.jpg
*.png
archive/
BOSSbase_1.01.zip
sp4g8h7v8k-1.zip
output.txt
lsb.bmp
output.bmp
compressed_3000.jpg
sample_image_gray.png
sample_image.bmp
